@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;1,400;0,700;1,600&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

main.container {
  display: flex;
  flex-direction: column;
}

.bg-landing {
  background: url('../images/bg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.button {
  border-radius: 22px;
  background: linear-gradient(180deg, #3913B8 0%, #8352FD 100%);
  padding: 8px 32px;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #FFFFFF;
}

.button:hover {
  box-shadow: 0px 4px 10px rgba(78, 37, 203, 0.7);
}

.button:active {
  box-shadow: 0px 4px 15px rgba(78, 37, 203, 0.7);
}

.play-pause {
  background: linear-gradient(269.9deg, rgba(47, 181, 252, 0.5) 5.21%, #2FB5FC 110.37%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-menu {
  top: 20px;
  right: 20px;
}

.user-menu-dropdown {
  background: rgba(217, 217, 217, 0.4);
  cursor: pointer;
  width: auto;
  height: 32px;
  border-radius: 22px;
  display: flex;
  justify-content: space-between;
}

.user-menu-content {
  background: rgba(217, 217, 217, 0.4);
  border-radius: 22px;
}

.nowrap {
  white-space: nowrap;
}

tbody tr {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

tbody tr:hover {
  background-color: rgba(217, 217, 217, 0.4);
  border-radius: 8px;
  cursor: pointer;
  padding: 10px;
}

tbody tr:active {
  background-color: rgba(150, 17, 255, 0.7);
  border-radius: 8px;
  cursor: pointer;
  padding: 10px;
}
